@model IEnumerable<Reserva_Restaurantes.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Página dos Pagamentos</h1>

<p>
    @if (User.IsInRole("Funcionario") || User.IsInRole("Administrador"))
    {
        <a asp-action="Create">Criar novo pagamento</a>
    }
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Metodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ReservasFK)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.Id)
            </td>
            <td>
                @if (User.IsInRole("Funcionario"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span> | </span>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
