@model Reserva_Restaurantes.Models.Restaurantes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>

        <dd class = "col-sm-10">
            @{
                if (Model.HoraAbertura.Minute < 10)
                {
                    <p>@Model.HoraAbertura.Hour:0@(Model.HoraAbertura.Minute)</p>
                }
                else
                {
                    <p>@Model.HoraAbertura.Hour:@(Model.HoraAbertura.Minute)</p>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraAbertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraAbertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFecho)
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.HoraFecho.Minute < 10)
                {
                    <p>@Model.HoraFecho.Hour:0@(Model.HoraFecho.Minute)</p>
                }
                else
                {
                    <p>@Model.HoraFecho.Hour:@(Model.HoraFecho.Minute)</p>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Foto))
            {
                <img src="~/imagens/@Model.Foto" alt="Foto do restaurante @Model.Nome" style="max-height:200px;" />
            }
            else
            {
                <p>Sem fotografia disponível.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
