@model IEnumerable<Reserva_Restaurantes.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
}

<h1>Página Restaurantes</h1>

<p>
    <a asp-action="Create">Criar novo restaurante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFecho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFecho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
