@model IEnumerable<Reserva_Restaurantes.Models.Restaurantes>

@{
    ViewData["Title"] = "Index";
}

<h1>Página dos Restaurantes</h1>

<p>
    @if (User.Identity != null && User.IsInRole("Administrador"))
    {
        <a asp-action="Create" class="btn btn-primary">Criar Restaurante</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFecho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @{
                    if (item.HoraAbertura.Minute < 10)
                    {
                        <p>@item.HoraAbertura.Hour:0@(item.HoraAbertura.Minute)</p>
                    }
                    else
                    {
                        <p>@item.HoraAbertura.Hour:@(item.HoraAbertura.Minute)</p>
                    }
                }
            </td>
            <td>
                @{
                    if (item.HoraFecho.Minute < 10)
                    {
                        <p>@item.HoraFecho.Hour:0@(item.HoraFecho.Minute)</p>
                    }
                    else
                    {
                        <p>@item.HoraFecho.Hour:@(item.HoraFecho.Minute)</p>
                    }
                }
            </td>
            <td>
                <img src="~/imagens/@item.Foto"
                     alt="imagem do restaurante com o Nome '@item.Nome'."
                     title="@item.Nome"
                     height="100px" />
            </td>
            
            <td>
                @if (User.IsInRole("Funcionario") || User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span> | </span>
                }
                
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                
                @if (User.IsInRole("Administrador"))
                {
                    <span> | </span><a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
