@model Reserva_Restaurantes.Models.Reservas

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Data.Day + "/" + Model.Data.Month + "/" +Model.Data.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.Hora.Minute < 10)
                {
                    <p>@Model.Hora.Hour:0@(Model.Hora.Minute)</p>
                }
                else
                {
                    <p>@Model.Hora.Hour:@(Model.Hora.Minute)</p>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PessoasQtd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoasQtd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
