@model IEnumerable<Reserva_Restaurantes.Models.Reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Página das Reservas</h1>

<p>
    <a asp-action="Create">Criar nova reserva</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoasQtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurante)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @(item.Data.Day + "/" + @item.Data.Month + "/" + @item.Data.Year)
        </td>
        <td>
            @{
                if (item.Hora.Minute < 10)
                {
                    <p>@item.Hora.Hour:0@(item.Hora.Minute)</p>
                }
                else
                {
                    <p>@item.Hora.Hour:@(item.Hora.Minute)</p>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoasQtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurante.Nome)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detalhe</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
        </td>
    </tr>
}
    </tbody>
</table>
