@model Reserva_Restaurantes.Models.Mesas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Mesa</h1>

<h3>Que mesa quer apagar?</h3>
<div>
    <h4>Mesas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumMesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumMesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestauranteFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
